*
!*.r
!*.R
!*.md
!*.Rmd
!*.html
!*.qmd
!*.yml
!*.bib
!*.json
!scripts/
!scripts/**
!web/
!web/**
!html/
!html/**
!docs/
!docs/**
!methods/
!methods/*.qmd
!methods/*.yml
!methods/*.bib
!methods/results/
!methods/results/**
!.gitignore
